@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;

}

body {
  background-color: rgb(41, 41, 47);
}

.cover {
  margin: 50px;
  padding: 15px;
  background-color: rgb(203, 201, 222);
  border-radius: 5px;
  }

.container {
  display:grid;
  grid-template-areas: "header header header"
                       "input output statistics"
                       "footer footer footer";
}

.box  {
  margin: 10px;
  background: #fff;
  border-radius: 5px;
}

.header {
  grid-area:header;
}

.input {
  grid-area:input;
}

.output {
  grid-area:output;
}

.statistics {
  grid-area:statistics;
}

.footer {
  grid-area:footer;
}
