.btn {
  background-color: $mainBlue;
  color: $mainWhite;
  text-decoration: none;
  padding: .8rem 4.6rem;
  display: inline-block;
  margin-top: 2em;
  font-weight: 100;
  border-radius: .3rem;

      @mixin atSmall {
        font-size: 1rem;
      padding: .8rem 2.3rem;
      margin-top: 2em;
      }

      @mixin atMedium {
        font-size: 1rem;
      padding: .8rem 2.3rem;
      margin-top: 3em;
      }

      @mixin atLarge {
        font-size: 1rem;
      padding: .8rem 2.3rem;
      margin-top: 3em;
      }

&--header {
  background-color: $mainGrey;
  margin: 0;
  padding: .5rem 1.6rem;
}

  &--footer {
    margin: 0;
    background-color: $mainBlue;
    color: $mainWhite;
    text-decoration: none;
    padding: .8rem 2rem;
    display: inline-block;
    font-weight: 300;
  }

  &--small {
    text-decoration: none;
    padding: .6rem 1.8rem;
    display: inline-block;
    margin-top: 1em;
    font-weight: 300;
    border-radius: .3rem;
  }
}
