.modal {
  position: fixed;
  z-index: 5;
  background-color: rgba(255, 255, 255, .90);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  &--social-media {
    font-size: 2rem;
    display: flex;
    justify-content: space-around;

    @mixin atMedium {
    margin: .5rem;
    font-size: 1.8rem;
    justify-content: flex-start;
    }
  }

  &--icons {
    margin: .5rem;
    font-size: 1.5em;

    a:hover {
    color: $mainBlue;
}

    @mixin atMedium {
    margin: .5rem;
    font-size: 1.8rem;
    }

}
}



.fa-envelope {
  padding-right: 10px;
}

.modal--send-email {
  color: $darkBlue;
  font-size: 1.5rem;
  font-weight: 300;

  p {
    font-weight: 300;
  }

  form {
    font-weight: 300;
    line-height: 2rem;
  }

  input {
    font-weight: 300;
    color: $darkBlue;
  }
}
