.row__link {
  font-family: 'Roboto', sans-serif;
  color: #324085;
  text-decoration: none;
  margin-top: 1rem;
}

row > p {
  text-size: 20px;
}

li {
  list-style-type: none;
}

.row {

  display: flex;
  flex-direction: row;

  @mixin clearfix;

  &--gutters > div {
    padding-right: 40px;
    box-sizing: border-box;
  }

  &__left {
    flex-direction: column;
    width: 85%;
    text-align: left;
    padding-left: 10%;

    @mixin atMedium {
    padding-left: 25%;
    }

    @mixin atLarge {
    padding-left: 25%;
    width: 70%;
    }
  }

  &__right {
    justify-content: center;
    flex-direction: column;
    width: 15%;
    text-align: right;

    @mixin atMedium {
    width: 30%;
    }

}

  &--links {
    margin-top: 10px;
  }

  &--icons {
    margin: .5rem;
    font-size: 1.35em;
    text-align: left;

    a:hover {
    color: $mainBlue;
}

    @mixin atMedium {
    margin: .4rem;
    font-size: 1.5rem;
    }

    @mixin atLarge {
    font-size: 1.5rem;
    }

}

  &--column {
    flex-direction: column;

    @mixin atMedium {
      display: flex;
      flex-direction: row;
    }
  }
}

.row__4--wrapper {
  padding: 0.5em;
  text-align: center;
}
