.row__link {
  font-family: 'Roboto', sans-serif;
  color: #324085;
  text-decoration: none;
  margin-top: 1rem;
}

row > p {
  text-size: 20px;
}

li {
  list-style-type: none;
}

.row {

  @mixin clearfix;

  &--gutters > div {
    padding-right: 40px;
    box-sizing: border-box;
  }

  &__8 {
    float: left;
    width: 66%;

  }
  &__4 {
    float: left;
    width: 33%;
  }

  &--links {
    margin-top: 10px;
  }

  &--icons {
    margin: 1rem;
  }

}

.row__4--wrapper {
  padding: 0.5em;
  text-align: center;
}
