.row__link {
  font-family: 'Roboto', sans-serif;
  color: #324085;
  text-decoration: none;
  margin-top: 1rem;
}

row > p {
  text-size: 20px;
}

li {
  list-style-type: none;
}

.row {

  @mixin clearfix;

  &--gutters > div {
    padding-right: 40px;
    box-sizing: border-box;
  }

  &__8 {
    float: left;
    width: 55%;
    text-align: right;

  }
  &__4 {
    float: left;
    width: 45%;
  }

  &--links {
    margin-top: 10px;
  }

  &--icons {
    margin: .5rem;
    color: #fff;
    font-size: 1.35em;
    text-align: left;

    @mixin atMedium {
    margin: .4rem;
    font-size: 1.5rem;
    }

    @mixin atLarge {
    font-size: 1.5rem;
    }
  }

}

.row__4--wrapper {
  padding: 0.5em;
  text-align: center;
}
